@charset "UTF-8";
/* ============================ #main ============================= */
#header {
  position: relative;
  color: #fff;
  z-index: 800; }
  #header .logo {
    position: fixed;
    top: 80px;
    left: 8%; }
    #header .logo a .logo_w {
      position: absolute;
      top: 0;
      left: 0; }
  #header .util {
    position: fixed;
    top: auto;
    left: 8%;
    bottom: 80px; }
    #header .util .project, #header .util .fa-on, #header .util .profile .fa-laugh, #header .util .profile span, #header .util .mail span {
      display: none; }
    #header .util ul li {
      position: relative; }
      #header .util ul li + li {
        margin-top: 25px; }
      #header .util ul li:hover .fa-off, #header .util ul li a:focus .fa-off {
        display: none; }
      #header .util ul li:hover .fa-on, #header .util ul li a:focus .fa-on, #header .util ul li:hover span.msg {
        display: inline-block; }
      #header .util ul li.select .fa-on, #header .util ul li.select .msg {
        display: inline-block; }
      #header .util ul li a {
        display: inline-block;
        width: 180px;
        height: 36px;
        line-height: 36px;
        vertical-align: middle; }
        #header .util ul li a i {
          font-size: 36px; }
          #header .util ul li a i.fa-on {
            position: absolute;
            top: 0;
            left: 0; }
        #header .util ul li a span {
          position: absolute;
          top: 0;
          left: 56px;
          font-size: 24px; }

#content #main .bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  #content #main .bg .bg_img {
    background-repeat: no-repeat;
    background-image: url("../images/main/bg_pj1.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%; }
  #content #main .bg .bg_color {
    position: absolute;
    top: 0;
    left: 0; }
    #content #main .bg .bg_color .rect {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }

#content #main .tit {
  position: absolute;
  top: 35%;
  left: 8%;
  z-index: 10; }
  #content #main .tit div * {
    vertical-align: middle;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  #content #main .tit div + div {
    margin-top: 50px; }
  #content #main .tit div .btn_view {
    display: none; }
  #content #main .tit div .pj_tit {
    display: inline-block;
    font-size: 35px;
    color: #fff; }
  #content #main .tit div.on .pj_tit {
    font-size: 45px;
    font-family: NanumSqB; }
  #content #main .tit div.on .btn_view {
    display: inline-block; }
    #content #main .tit div.on .btn_view .pj_type {
      display: inline-block;
      margin-left: 35px;
      font-size: 25px;
      color: #fff; }
    #content #main .tit div.on .btn_view .pj_view {
      display: inline-block;
      margin-left: 25px;
      width: 50px;
      height: 28px;
      line-height: 28px;
      font-size: 14px;
      text-align: center;
      font-family: NanumSqB;
      background: #fff; }
  #content #main .tit .tit_pj1 .btn_view .pj_view {
    color: #ee1c25; }
  #content #main .tit .tit_pj2 .btn_view .pj_view {
    color: #99001c; }
  #content #main .tit .tit_pj3 .btn_view .pj_view {
    color: #164556; }

#content #main .slider {
  position: absolute;
  right: 0;
  top: 0;
  width: 950px; }
  #content #main .slider > div {
    position: absolute;
    opacity: 0.7;
    filter: Alpha(opacity=70); }
    #content #main .slider > div.slider_pj1 {
      top: 132px;
      right: 0;
      width: 950px;
      height: 635px; }
    #content #main .slider > div.slider_pj2 {
      top: 800px;
      right: 175px;
      width: 540px;
      height: 351px; }
    #content #main .slider > div.slider_pj3 {
      top: -300px;
      right: 175px;
      width: 540px;
      height: 351px; }
    #content #main .slider > div.on {
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      -o-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8);
      opacity: 1;
      filter: Alpha(opacity=100);
      right: 0; }
      #content #main .slider > div.on .sub {
        display: inline-block; }
    #content #main .slider > div img {
      position: absolute;
      z-index: 99; }
      #content #main .slider > div img.main {
        right: 50px;
        top: 50px;
        z-index: 4; }
      #content #main .slider > div img.sub1 {
        right: 25px;
        top: 25px;
        z-index: 3; }
      #content #main .slider > div img.sub2 {
        right: 0px;
        top: 0;
        z-index: 2; }
      #content #main .slider > div img.sub3 {
        right: -25px;
        top: -25px;
        z-index: 1; }
    #content #main .slider > div img.on {
      z-index: 100; }
    #content #main .slider > div .sub {
      display: none; }
    #content #main .slider > div .mask {
      opacity: 0;
      filter: Alpha(opacity=0); }
    #content #main .slider > div .mask:hover, #content #main .slider > div .mask a:focus {
      background: #000;
      opacity: 0.5;
      filter: Alpha(opacity=50);
      z-index: 5; }

/* ============================ #profile ============================= */
#content #profile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 300; }
  #content #profile .skills {
    position: absolute;
    top: 40%;
    left: 8%;
    z-index: 10; }
    #content #profile .skills button {
      display: block;
      font-size: 30px; }
      #content #profile .skills button + button {
        margin-top: 50px; }
    #content #profile .skills a {
      display: block;
      position: absolute;
      bottom: -100px;
      left: 0;
      width: 154px;
      height: 30px;
      font-size: 24px; }
      #content #profile .skills a:after {
        content: "";
        position: absolute;
        width: 154px;
        height: 17px;
        bottom: -3px;
        right: 0;
        background: url("../images/profile/btn_prev.png") no-repeat 0 0;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; }
      #content #profile .skills a span {
        padding-left: 56px; }

#content #profile .graph {
  position: relative;
  width: 100%;
  text-align: center; }
  #content #profile .graph .graph_bg {
    width: 600px;
    height: 600px;
    margin: 8% 0 0 40%;
    background: url("../images/profile/graph_bg.png") no-repeat 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  #content #profile .graph .coding, #content #profile .graph .graphic {
    position: absolute;
    top: -100px;
    left: calc(40% - 100px);
    width: 800px;
    height: 800px; }
  #content #profile .graph .coding > div, #content #profile .graph .graphic > div {
    position: absolute; }
    #content #profile .graph .coding > div p + p, #content #profile .graph .graphic > div p + p {
      padding-top: 5px; }
  #content #profile .graph .coding.on > div, #content #profile .graph .graphic.on > div {
    font-size: 25px; }
    #content #profile .graph .coding.on > div p + p, #content #profile .graph .graphic.on > div p + p {
      font-family: NanumSqB; }
  #content #profile .graph .coding .html {
    left: calc(50% - 32px);
    top: 30px; }
  #content #profile .graph .coding .css {
    left: 150px;
    bottom: 104px; }
  #content #profile .graph .coding .js {
    left: 0px;
    bottom: 270px; }
  #content #profile .graph .coding .jq {
    right: 20px;
    top: 273px; }
  #content #profile .graph .coding .sass {
    right: 157px;
    bottom: 110px; }
  #content #profile .graph .coding .bs {
    left: 105px;
    top: 103px; }
  #content #profile .graph .coding.on .html p + p {
    color: #e35025; }
  #content #profile .graph .coding.on .css p + p {
    color: #0b72b7; }
  #content #profile .graph .coding.on .js p + p {
    color: #e3a127; }
  #content #profile .graph .coding.on .jq p + p {
    color: #0a6bae; }
  #content #profile .graph .coding.on .sass p + p {
    color: #cf649a; }
  #content #profile .graph .coding.on .bs p + p {
    color: #563e7d; }
  #content #profile .graph .graphic .ps {
    right: 0;
    bottom: 260px; }
  #content #profile .graph .graphic .ai {
    left: 0;
    top: 255px; }
  #content #profile .graph .graphic .zeplin {
    left: calc(50% - 32px);
    bottom: 29px; }
  #content #profile .graph .graphic .xd {
    top: 96px;
    right: 118px; }
  #content #profile .graph .graphic.on .ps p + p {
    color: #252653; }
  #content #profile .graph .graphic.on .ai p + P {
    color: #ff7c00; }
  #content #profile .graph .graphic.on .zeplin p + p {
    color: #fecf33; }
  #content #profile .graph .graphic.on .xd p + p {
    color: #ff2bc2; }
  #content #profile .graph .img_graph {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 0 0 40%; }
    #content #profile .graph .img_graph .graph_coding, #content #profile .graph .img_graph .graph_graphic {
      opacity: 0.5;
      filter: Alpha(opacity=50); }
    #content #profile .graph .img_graph .graph_coding {
      position: absolute;
      top: 0;
      left: 100px; }
      #content #profile .graph .img_graph .graph_coding polygon {
        stroke-dasharray: 1475;
        stroke-dashoffset: 1475; }
    #content #profile .graph .img_graph .graph_graphic {
      position: absolute;
      top: 155px;
      left: 45px; }
      #content #profile .graph .img_graph .graph_graphic polygon {
        stroke-dasharray: 1320;
        stroke-dashoffset: 1320; }
    #content #profile .graph .img_graph .graph_coding.on, #content #profile .graph .img_graph .graph_graphic.on {
      z-index: 10;
      animation: opacity 0.7s linear 2s forwards; }
      #content #profile .graph .img_graph .graph_coding.on polygon, #content #profile .graph .img_graph .graph_graphic.on polygon {
        animation: svgBd 2s linear 0s; }

#content #profile .typing {
  position: absolute;
  bottom: 142px;
  right: 8%;
  vertical-align: bottom; }
  #content #profile .typing #aboutMe {
    display: inline-block;
    width: 160px;
    height: 25px;
    margin-left: 5px;
    border-bottom: 1px solid #181616;
    overflow: hidden;
    margin-top: 5px;
    text-align: center; }

/* ======================= project common =========================== */
#content #pjImg > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: no-repeat 50% 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #content #pjImg > div.pj1_top {
    background-image: url("../images/project1/pj1_topbg.jpg"); }
  #content #pjImg > div.pj2_top {
    background-image: url("../images/project2/pj2_topbg.jpg"); }
  #content #pjImg > div.pj3_top {
    background-image: url("../images/project3/pj3_topbg.jpg"); }

#content article.pj_detail .tit_top {
  position: relative;
  background: fixed no-repeat 50% 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0;
  filter: Alpha(opacity=0);
  z-index: 500; }
  #content article.pj_detail .tit_top .logo {
    position: absolute;
    top: 80px;
    left: 8%; }
  #content article.pj_detail .tit_top h3 {
    position: absolute;
    bottom: 152px;
    left: 8%;
    font-size: 100px;
    font-family: NanumSqB;
    color: #fff; }
#content article.pj_detail .overview {
  position: relative; }
#content article.pj_detail .overview .ov_txt {
  position: relative;
  margin: 150px 0 150px 8%; }
  #content article.pj_detail .overview .ov_txt > p {
    margin-top: 25px;
    font-size: 24px;
    line-height: 1.5;
    padding-bottom: 10px; }
  #content article.pj_detail .overview .ov_txt > div > div {
    padding: 12px 0 12px 10px;
    font-size: 24px; }
    #content article.pj_detail .overview .ov_txt > div > div strong {
      font-family: NanumSqR; }
    #content article.pj_detail .overview .ov_txt > div > div p {
      font-family: NanumSqB; }
      #content article.pj_detail .overview .ov_txt > div > div p.ib {
        display: inline-block;
        padding-left: 25px; }
      #content article.pj_detail .overview .ov_txt > div > div p.pl {
        padding-top: 8px; }
    #content article.pj_detail .overview .ov_txt > div > div.ov3 .pl {
      padding-left: 176px; }
    #content article.pj_detail .overview .ov_txt > div > div.ov4 .pl {
      padding-left: 79.64px; }
    #content article.pj_detail .overview .ov_txt > div > div.ov6 .pl {
      padding-left: 264.56px; }
    #content article.pj_detail .overview .ov_txt > div > div.ov7 p {
      font-size: 20px;
      line-height: 1.5;
      padding-top: 5px;
      word-break: keep-all; }
  #content article.pj_detail .overview .ov_txt .btn_site {
    position: absolute;
    top: 123px;
    left: auto;
    right: 0; }
    #content article.pj_detail .overview .ov_txt .btn_site a {
      display: inline-block;
      width: 180px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      height: 60px;
      line-height: 60px;
      text-align: center; }
      #content article.pj_detail .overview .ov_txt .btn_site a:hover, #content article.pj_detail .overview .ov_txt .btn_site a:focus {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        color: #fff; }
#content article.pj_detail .cnt .color, #content article.pj_detail .cnt .line {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }
#content article.pj_detail .cnt .line:after {
  content: "";
  position: absolute;
  top: auto;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px; }
#content article.pj_detail .cnt.on .line {
  width: 100%; }
#content article.pj_detail .cnt > div .cnt_tit {
  font-size: 50px; }
#content article.pj_detail .cnt > div strong, #content article.pj_detail .cnt > div p {
  line-height: 1.5; }
#content article.pj_detail .cnt > div strong {
  font-size: 35px;
  margin-bottom: 10px; }
#content article.pj_detail .cnt > div p {
  word-break: keep-all; }
  #content article.pj_detail .cnt > div p .line {
    position: relative; }
#content article.pj_detail .bg_btm {
  background: no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 800px; }

#content .quick_menu {
  position: fixed;
  right: 10px;
  top: 50%; }
  #content .quick_menu button {
    display: block;
    width: 90px;
    height: 40px;
    border-bottom: 1px solid #181616;
    font-size: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    #content .quick_menu button + button {
      margin-top: 10px; }
    #content .quick_menu button:hover, #content .quick_menu button:focus {
      font-family: NanumSqB; }
    #content .quick_menu button.btn_pj1:hover, #content .quick_menu button.btn_pj1:focus {
      border-bottom: 3px solid #ee1c25;
      color: #ee1c25; }
    #content .quick_menu button.btn_pj2:hover, #content .quick_menu button.btn_pj2:focus {
      border-bottom: 3px solid #99001c;
      color: #99001c; }
    #content .quick_menu button.btn_pj3:hover, #content .quick_menu button.btn_pj3:focus {
      border-bottom: 3px solid #164556;
      color: #164556; }
  #content .quick_menu a {
    font-size: 25px;
    display: inline-block;
    width: 90px;
    text-align: center;
    margin-top: 50px;
    height: 40px;
    line-height: 40px; }

/* ========================== #project1 ============================== */
#content #project1 .tit_top {
  background-image: url("../images/project1/pj1_topbg.jpg"); }
#content #project1 .overview .ov_txt {
  width: 58%; }
  #content #project1 .overview .ov_txt > div > div {
    border-top: 1px solid #ee1c25; }
    #content #project1 .overview .ov_txt > div > div strong {
      color: #ee1c25; }
  #content #project1 .overview .ov_txt .btn_site a {
    border: 1px solid #ee1c25;
    color: #ee1c25; }
    #content #project1 .overview .ov_txt .btn_site a:hover, #content #project1 .overview .ov_txt .btn_site a:focus {
      background: #ee1c25;
      color: #fff; }
    #content #project1 .overview .ov_txt .btn_site a + a {
      margin-left: 20px; }
#content #project1 .overview #cap div {
  position: absolute; }
  #content #project1 .overview #cap div.cap1 {
    bottom: 140px;
    right: 5%; }
  #content #project1 .overview #cap div.cap2 {
    top: 250px;
    right: 18%; }
  #content #project1 .overview #cap div.cap3 {
    top: 140px;
    right: 10%; }
#content #project1 .cnt.on .color {
  color: #ee1c25; }
#content #project1 .cnt.on .line:after {
  background: #ee1c25; }
#content #project1 .cnt > div:first-child {
  padding-top: 150px; }
#content #project1 .cnt .cnt_tit {
  margin-bottom: 140px; }
  #content #project1 .cnt .cnt_tit + strong {
    color: #ee1c25; }

#content #project1 .cnt_main {
  background: #1e1e1e;
  color: #fff; }
  #content #project1 .cnt_main:after {
    content: "";
    display: block;
    clear: both; }
  #content #project1 .cnt_main > div {
    position: relative;
    height: 2209px; }
    #content #project1 .cnt_main > div > * {
      position: absolute; }
    #content #project1 .cnt_main > div img {
      left: 0;
      top: -100px; }
  #content #project1 .cnt_main > div > div {
    width: 633px;
    left: 65%;
    top: 150px; }
    #content #project1 .cnt_main > div > div:before {
      content: "";
      position: absolute;
      top: 26px;
      left: 0;
      height: 5px;
      width: 120px;
      background: #ee1c25; }
    #content #project1 .cnt_main > div > div .cnt_tit {
      padding-left: 140px; }
    #content #project1 .cnt_main > div > div + img {
      position: absolute;
      top: 680px;
      left: 58%; }

#content #project1 .cnt_sub1 {
  position: relative;
  height: 2737px; }
  #content #project1 .cnt_sub1 .sub1_txt {
    position: relative;
    width: 600px;
    margin-left: 8%;
    z-index: 1; }
    #content #project1 .cnt_sub1 .sub1_txt:before {
      content: "";
      position: absolute;
      top: 176px;
      left: auto;
      right: 0px;
      height: 5px;
      width: 250px;
      background: #ee1c25; }
  #content #project1 .cnt_sub1 .sub1_img {
    position: absolute;
    top: 100px;
    left: auto;
    right: 0;
    overflow: hidden;
    width: 1144px;
    height: 2737px; }
    #content #project1 .cnt_sub1 .sub1_img img {
      position: absolute;
      top: 0;
      left: auto;
      right: -60px;
      z-index: -1; }

#content #project1 .cnt_sub2 {
  position: relative;
  background: #e0e0e2;
  height: 1580px; }
  #content #project1 .cnt_sub2 > * {
    float: left; }
  #content #project1 .cnt_sub2 > img:first-child {
    margin-top: 120px; }
  #content #project1 .cnt_sub2 .sub2_txt {
    position: relative;
    width: 670px; }
    #content #project1 .cnt_sub2 .sub2_txt:before {
      content: "";
      position: absolute;
      top: 176px;
      left: 0px;
      height: 5px;
      width: 80px;
      background: #ee1c25; }
    #content #project1 .cnt_sub2 .sub2_txt .cnt_tit {
      margin: 150px 0 330px;
      text-align: right; }
  #content #project1 .cnt_sub2 button {
    margin-top: 50px; }
    #content #project1 .cnt_sub2 button span {
      display: inline-block;
      margin-left: 10px;
      margin-top: 55px;
      font-size: 16px; }
  #content #project1 .cnt_sub2 .cap_modal {
    position: absolute;
    top: 900px;
    right: 100px;
    width: 800px;
    height: 0;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -o-transition: height 0.5s;
    transition: height 0.5s; }
    #content #project1 .cnt_sub2 .cap_modal.open {
      height: 391px;
      background: url("../images/project1/pj1_sub2_modal.jpg") no-repeat 50% 50%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      -webkit-transition: height 0.5s;
      -moz-transition: height 0.5s;
      -o-transition: height 0.5s;
      transition: height 0.5s; }

#content #project1 .bg_btm {
  background-image: url("../images/project1/pj1_btmbg.jpg"); }

/* ========================== #project2 ============================== */
#content #project2 .tit_top {
  background-image: url("../images/project2/pj2_topbg.jpg"); }
#content #project2 .overview .ov_txt {
  width: 45%; }
  #content #project2 .overview .ov_txt > div > div {
    border-top: 1px solid #99001c; }
    #content #project2 .overview .ov_txt > div > div strong {
      color: #99001c; }
  #content #project2 .overview .ov_txt .btn_site a {
    border: 1px solid #99001c;
    color: #99001c; }
    #content #project2 .overview .ov_txt .btn_site a:hover, #content #project2 .overview .ov_txt .btn_site a:focus {
      background: #99001c;
      color: #fff; }
#content #project2 .overview #brush {
  position: absolute;
  top: 140px;
  left: auto;
  right: 0; }
#content #project2 .cnt {
  padding-top: 150px; }
  #content #project2 .cnt > div strong {
    color: #99001c; }
  #content #project2 .cnt.on .color {
    color: #99001c; }
  #content #project2 .cnt.on .line:after {
    background: #99001c; }

#content #project2 .cnt_main {
  background: #1e1e1e;
  color: #fff;
  height: 663px; }
  #content #project2 .cnt_main > div {
    float: left; }
  #content #project2 .cnt_main .main_img {
    position: relative;
    margin-left: 8%;
    width: 889.2px;
    height: 513px;
    padding-right: 40px;
    overflow: hidden; }
    #content #project2 .cnt_main .main_img ul {
      height: 2850px; }
      #content #project2 .cnt_main .main_img ul li {
        background: no-repeat 50% 50%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 889.2px;
        height: 513px; }
        #content #project2 .cnt_main .main_img ul li.main1 {
          background-image: url("../images/project2/pj2_main1.jpg"); }
        #content #project2 .cnt_main .main_img ul li.main2 {
          background-image: url("../images/project2/pj2_main2.jpg"); }
        #content #project2 .cnt_main .main_img ul li.main3 {
          background-image: url("../images/project2/pj2_main3.jpg"); }
        #content #project2 .cnt_main .main_img ul li.main4 {
          background-image: url("../images/project2/pj2_main4.jpg"); }
        #content #project2 .cnt_main .main_img ul li.main5 {
          background-image: url("../images/project2/pj2_main5.jpg"); }
    #content #project2 .cnt_main .main_img div {
      position: absolute;
      top: 235px;
      left: auto;
      right: 0px;
      height: 100px; }
      #content #project2 .cnt_main .main_img div button {
        font-size: 30px; }
        #content #project2 .cnt_main .main_img div button.btn_down {
          position: absolute;
          top: 70px;
          left: 0; }
  #content #project2 .cnt_main .cnt_txt {
    width: 30%;
    margin-left: 20px; }
    #content #project2 .cnt_main .cnt_txt .cnt_tit {
      margin-bottom: 170px; }

#content #project2 .cnt_sub1 {
  position: relative;
  width: 100%;
  height: 3033px; }
  #content #project2 .cnt_sub1 .cnt_txt {
    position: relative;
    width: 35%;
    height: 537px;
    margin-left: 8%; }
    #content #project2 .cnt_sub1 .cnt_txt .cnt_tit {
      margin-bottom: 100px; }
    #content #project2 .cnt_sub1 .cnt_txt .text2 {
      position: absolute;
      top: 95px;
      left: 0;
      opacity: 0;
      filter: Alpha(opacity=0); }
      #content #project2 .cnt_sub1 .cnt_txt .text2 .sub1_txt3 {
        margin-top: 100px; }
  #content #project2 .cnt_sub1 .sub1_img {
    position: absolute;
    top: 60px;
    left: auto;
    right: 10px; }

#content #project2 .cnt_sub2 {
  background: #e0e0e2;
  height: 2025px; }
  #content #project2 .cnt_sub2 > * {
    float: left; }
  #content #project2 .cnt_sub2 .sub_img {
    margin-top: -25px;
    height: 2050px;
    width: 1000px;
    overflow: hidden; }
    #content #project2 .cnt_sub2 .sub_img img {
      margin-left: -30px; }
  #content #project2 .cnt_sub2 .cnt_txt {
    width: 35%; }
    #content #project2 .cnt_sub2 .cnt_txt .cnt_tit {
      margin-bottom: 600px; }
    #content #project2 .cnt_sub2 .cnt_txt .sub2_txt2 {
      margin-top: 300px; }
      #content #project2 .cnt_sub2 .cnt_txt .sub2_txt2 .open_btn {
        display: inline-block;
        width: 150px;
        height: 150px;
        margin-top: 50px; }
      #content #project2 .cnt_sub2 .cnt_txt .sub2_txt2 .photo_modal {
        display: inline-block;
        font-size: 16px;
        margin-left: 10px; }
    #content #project2 .cnt_sub2 .cnt_txt .mask, #content #project2 .cnt_sub2 .cnt_txt .modal_cnt {
      display: none;
      position: fixed;
      z-indeX: 100; }
    #content #project2 .cnt_sub2 .cnt_txt .mask {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8); }
  #content #project2 .cnt_sub2 .cnt_txt .modal_cnt {
    width: 300px;
    border: 1px solid #999;
    text-align: left;
    padding: 20px;
    background: #fff; }
    #content #project2 .cnt_sub2 .cnt_txt .modal_cnt img {
      padding-bottom: 10px; }
    #content #project2 .cnt_sub2 .cnt_txt .modal_cnt div {
      padding: 5px 10px; }
      #content #project2 .cnt_sub2 .cnt_txt .modal_cnt div .modal_txt {
        font-size: 14px;
        padding-top: 10px; }
      #content #project2 .cnt_sub2 .cnt_txt .modal_cnt div .modal_user {
        font-size: 12px;
        font-family: NotoSansM;
        padding: 30px 0 10px; }
      #content #project2 .cnt_sub2 .cnt_txt .modal_cnt div .close_btn {
        position: absolute;
        font-size: 20px;
        color: #999;
        bottom: 10px;
        right: 10px; }

#content #project2 .cnt_sub3 {
  position: relative;
  height: 2975px;
  overflow: hidden; }
  #content #project2 .cnt_sub3 .cnt_txt {
    margin-left: 8%;
    width: 30%; }
    #content #project2 .cnt_sub3 .cnt_txt .cnt_tit {
      margin-bottom: 1650px; }
  #content #project2 .cnt_sub3 img {
    position: absolute;
    top: 100px;
    left: auto;
    right: -50px; }

#content #project2 .bg_btm {
  background-image: url("../images/project2/pj2_btmbg.jpg"); }

/* ========================== #project3 ============================== */
#content #project3 .tit_top {
  background-image: url("../images/project3/pj3_topbg.jpg"); }
#content #project3 .overview .ov_txt {
  width: 50%; }
  #content #project3 .overview .ov_txt > div > div {
    border-top: 1px solid #164556; }
    #content #project3 .overview .ov_txt > div > div strong {
      color: #164556; }
    #content #project3 .overview .ov_txt > div > div.ov3 .pl {
      padding-left: 176px; }
  #content #project3 .overview .ov_txt .btn_site a {
    border: 1px solid #164556;
    color: #164556; }
    #content #project3 .overview .ov_txt .btn_site a:hover, #content #project3 .overview .ov_txt .btn_site a:focus {
      background: #164556;
      color: #fff; }
#content #project3 .overview #flash {
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  overflow: hidden; }
  #content #project3 .overview #flash img {
    margin-right: -100px; }
#content #project3 .cnt.on .color {
  color: #ee1c25; }
#content #project3 .cnt.on .line:after {
  background: #ee1c25; }
#content #project3 .cnt > div strong {
  color: #164556; }

#content #project3 .cnt_main {
  position: relative;
  width: 100%;
  height: 800px;
  background: #1e1e1e;
  color: #fff;
  padding-top: 150px;
  overflow: hidden; }
  #content #project3 .cnt_main .main_img {
    position: relative;
    width: 1000px;
    height: 650px;
    overflow: hidden;
    margin-left: 0; }
    #content #project3 .cnt_main .main_img > div {
      position: absolute;
      left: 810px;
      top: 0;
      width: 1000px;
      height: 650px;
      background: no-repeat 50% 50%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      opacity: 0;
      filter: Alpha(opacity=0); }
    #content #project3 .cnt_main .main_img .main1 {
      background-image: url("../images/project3/pj3_main1.jpg"); }
    #content #project3 .cnt_main .main_img .main2 {
      background-image: url("../images/project3/pj3_main2.jpg"); }
    #content #project3 .cnt_main .main_img .main3 {
      background-image: url("../images/project3/pj3_main3.jpg"); }
    #content #project3 .cnt_main .main_img .main4 {
      background-image: url("../images/project3/pj3_main4.jpg"); }
  #content #project3 .cnt_main .cnt_txt {
    position: absolute;
    top: 150px;
    left: auto;
    left: 60%;
    width: 30%; }
    #content #project3 .cnt_main .cnt_txt strong {
      color: #ee1c25; }

#content #project3 .cnt_sub1 {
  position: relative;
  overflow: hidden; }
  #content #project3 .cnt_sub1 .cnt_txt {
    padding-top: 150px;
    margin-left: 8%;
    width: 30%; }
    #content #project3 .cnt_sub1 .cnt_txt .cnt_tit {
      margin-bottom: 140px; }
    #content #project3 .cnt_sub1 .cnt_txt .sub1_txt2 {
      position: absolute;
      top: 1000px;
      left: 60%;
      width: 550px; }
  #content #project3 .cnt_sub1 .sub1_img1 {
    position: absolute;
    top: 80px;
    left: 37%;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9); }
  #content #project3 .cnt_sub1 .sub1_img2 {
    margin-top: 200px; }

#content #project3 .cnt_sub2 {
  background: #e0e0e2;
  height: 2066px;
  padding-top: 150px; }
  #content #project3 .cnt_sub2 > * {
    float: left; }
  #content #project3 .cnt_sub2 img {
    margin-top: -28px; }
  #content #project3 .cnt_sub2 .cnt_txt {
    width: 30%; }
    #content #project3 .cnt_sub2 .cnt_txt .cnt_tit {
      margin-bottom: 500px; }

#content #project3 .bg_btm {
  background-image: url("../images/project3/pj3_btmbg.jpg"); }

/* ========================== #footer ============================== */
#footer p {
  position: absolute;
  bottom: 80px;
  right: 8%;
  font-size: 14px; }

/* @keyframes */
@keyframes svgBd {
  to {
    stroke-dashoffset: 0; } }
@keyframes svgBdW {
  to {
    stroke-width: 0; } }
@keyframes opacity {
  to {
    opacity: 1;
    filter: Alpha(opacity=100); } }
/* ========== Responsive ========== */
/* 데스크탑 1440px */
@media screen and (max-width: 1440px) {
  #content #main .tit div .pj_tit {
    font-size: 25px; }
  #content #main .tit div.on .pj_tit {
    font-size: 35px; }
  #content #main .tit div.on .btn_view .pj_type {
    font-size: 20px;
    margin-left: 28px; }

  #content #main .slider {
    position: absolute;
    right: 0;
    top: 0;
    width: 900px; }
    #content #main .slider > div {
      position: absolute;
      opacity: 0.7;
      filter: Alpha(opacity=70); }
      #content #main .slider > div.slider_pj1 {
        top: 32px;
        right: 0;
        width: 900px;
        height: 585px; }
      #content #main .slider > div.slider_pj2 {
        top: 800px;
        right: 155px;
        width: 500px;
        height: 325px; }
      #content #main .slider > div.slider_pj3 {
        top: -400px;
        right: 155px;
        width: 500px;
        height: 325px; }

  #content #profile .skills {
    top: 35%; }
    #content #profile .skills button {
      font-size: 25px; }
    #content #profile .skills a {
      font-size: 20px;
      bottom: -110px; }

  #content #profile .graph {
    margin-top: -10px; }
    #content #profile .graph .graph_bg {
      margin: 8% 0 0 45%; }
    #content #profile .graph .coding, #content #profile .graph .graphic {
      height: 750px;
      left: calc(45% - 100px); }
    #content #profile .graph .coding > div, #content #profile .graph .graphic > div {
      font-size: 18px; }
    #content #profile .graph .coding.on > div, #content #profile .graph .graphic.on > div {
      font-size: 20px; }
    #content #profile .graph .coding .html {
      top: 40px; }
    #content #profile .graph .coding .css {
      left: 155px;
      bottom: 70px; }
    #content #profile .graph .coding .js {
      left: 10px;
      bottom: 230px; }
    #content #profile .graph .coding .jq {
      right: 33px; }
    #content #profile .graph .coding .sass {
      right: 163px;
      bottom: 70px; }
    #content #profile .graph .coding .bs {
      left: 115px;
      top: 108px; }
    #content #profile .graph .graphic .ps {
      right: 10px;
      bottom: 230px; }
    #content #profile .graph .graphic .ai {
      left: 10px; }
    #content #profile .graph .graphic .zeplin {
      bottom: 0px;
      left: calc(50% - 23px); }
    #content #profile .graph .graphic .xd {
      top: 96px;
      right: 118px; }
    #content #profile .graph .img_graph {
      margin: 0 0 0 45%; }

  #content #profile .typing {
    bottom: 80px;
    left: 350px;
    font-size: 18px; }
    #content #profile .typing #aboutMe {
      width: 140px;
      height: 20px; }

  #content article.pj_detail .overview .ov_txt {
    margin: 100px 0 100px 8%; }
    #content article.pj_detail .overview .ov_txt > p {
      margin-top: 25px;
      font-size: 20px;
      line-height: 1.5;
      padding-bottom: 10px; }
    #content article.pj_detail .overview .ov_txt > div > div {
      font-size: 20px; }
      #content article.pj_detail .overview .ov_txt > div > div.ov3 .pl {
        padding-left: 150px; }
      #content article.pj_detail .overview .ov_txt > div > div.ov4 .pl {
        padding-left: 70px; }
      #content article.pj_detail .overview .ov_txt > div > div.ov6 .pl {
        padding-left: 225px; }
    #content article.pj_detail .overview .ov_txt .btn_site a {
      display: block;
      font-size: 18px; }

  #content #project1 .overview .ov_txt {
    width: 50%; }
    #content #project1 .overview .ov_txt .btn_site {
      top: 40px; }
      #content #project1 .overview .ov_txt .btn_site a + a {
        margin-top: 10px;
        margin-left: 0; }

  #content #project1 .cnt_main > div {
    height: 1650px; }
    #content #project1 .cnt_main > div > img:first-child {
      width: 900px;
      height: auto;
      top: 120px;
      margin-left: -20px; }
  #content #project1 .cnt_main > div > div {
    width: 500px;
    margin-left: -100px; }
    #content #project1 .cnt_main > div > div .cnt .cnt_tit {
      margin-bottom: 100px; }

    /* 

    */
  #footer p {
    position: absolute;
    bottom: 70px;
    right: 8%;
    font-size: 12px; } }

/*# sourceMappingURL=style.css.map */
